USE [master]
GO
/****** Object:  Database [DB_ControlGastos]    Script Date: 14/05/2025 15:05:09 ******/
CREATE DATABASE [DB_ControlGastos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_ControlGastos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_ControlGastos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_ControlGastos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\DB_ControlGastos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_ControlGastos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_ControlGastos]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Nombre] [nvarchar](max) NULL,
	[Apellido] [nvarchar](max) NULL,
	[FechaNacimiento] [datetime] NOT NULL,
	[Direccion] [nvarchar](max) NULL,
	[Correo] [nvarchar](max) NULL,
	[Telefono] [nvarchar](max) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Depositos]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depositos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [nvarchar](128) NOT NULL,
	[FondoMonetarioId] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FondosMonetarios]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FondosMonetarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreBanco] [nvarchar](100) NOT NULL,
	[NoCuenta] [numeric](18, 0) NOT NULL,
	[Saldo] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GastosDetalle]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GastosDetalle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GastoEncabezadoId] [int] NOT NULL,
	[TipoGastoId] [int] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GastosEncabezado]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GastosEncabezado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [nvarchar](128) NOT NULL,
	[Fecha] [date] NOT NULL,
	[FondoMonetarioId] [int] NOT NULL,
	[Observaciones] [nvarchar](300) NULL,
	[NombreComercio] [nvarchar](100) NULL,
	[TipoDocumento] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Presupuestos]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Presupuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioId] [nvarchar](128) NOT NULL,
	[TipoGastoId] [int] NOT NULL,
	[Mes] [smallint] NOT NULL,
	[Anio] [smallint] NOT NULL,
	[Monto] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposGasto]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposGasto](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.TiposGasto] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 14/05/2025 15:05:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[Identificacion] [nvarchar](20) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Correo] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Depositos] ON 

INSERT [dbo].[Depositos] ([Id], [UsuarioId], [FondoMonetarioId], [Fecha], [Monto]) VALUES (1, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', 4, CAST(N'2025-05-13' AS Date), CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[Depositos] ([Id], [UsuarioId], [FondoMonetarioId], [Fecha], [Monto]) VALUES (2, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', 2, CAST(N'2025-05-13' AS Date), CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[Depositos] ([Id], [UsuarioId], [FondoMonetarioId], [Fecha], [Monto]) VALUES (3, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', 1, CAST(N'2025-05-13' AS Date), CAST(400.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Depositos] OFF
GO
SET IDENTITY_INSERT [dbo].[FondosMonetarios] ON 

INSERT [dbo].[FondosMonetarios] ([Id], [NombreBanco], [NoCuenta], [Saldo]) VALUES (1, N'Banco Industrial S.A.', CAST(92735327231 AS Numeric(18, 0)), CAST(50.50 AS Decimal(18, 2)))
INSERT [dbo].[FondosMonetarios] ([Id], [NombreBanco], [NoCuenta], [Saldo]) VALUES (2, N'Banrural GT', CAST(23239492923 AS Numeric(18, 0)), CAST(250.50 AS Decimal(18, 2)))
INSERT [dbo].[FondosMonetarios] ([Id], [NombreBanco], [NoCuenta], [Saldo]) VALUES (4, N'GYT Continental', CAST(98762323 AS Numeric(18, 0)), CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[FondosMonetarios] OFF
GO
SET IDENTITY_INSERT [dbo].[GastosDetalle] ON 

INSERT [dbo].[GastosDetalle] ([Id], [GastoEncabezadoId], [TipoGastoId], [Monto]) VALUES (1, 1, 1, CAST(400.00 AS Decimal(18, 2)))
INSERT [dbo].[GastosDetalle] ([Id], [GastoEncabezadoId], [TipoGastoId], [Monto]) VALUES (2, 1, 2, CAST(200.00 AS Decimal(18, 2)))
INSERT [dbo].[GastosDetalle] ([Id], [GastoEncabezadoId], [TipoGastoId], [Monto]) VALUES (3, 2, 1, CAST(150.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[GastosDetalle] OFF
GO
SET IDENTITY_INSERT [dbo].[GastosEncabezado] ON 

INSERT [dbo].[GastosEncabezado] ([Id], [UsuarioId], [Fecha], [FondoMonetarioId], [Observaciones], [NombreComercio], [TipoDocumento]) VALUES (1, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', CAST(N'2025-05-14' AS Date), 1, N'No.', N'Mi Negocio', N'Factura')
INSERT [dbo].[GastosEncabezado] ([Id], [UsuarioId], [Fecha], [FondoMonetarioId], [Observaciones], [NombreComercio], [TipoDocumento]) VALUES (2, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', CAST(N'2025-06-14' AS Date), 1, N'-', N'Propio', N'Factura')
INSERT [dbo].[GastosEncabezado] ([Id], [UsuarioId], [Fecha], [FondoMonetarioId], [Observaciones], [NombreComercio], [TipoDocumento]) VALUES (3, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', CAST(N'2025-07-14' AS Date), 1, N'no.', N'Negocio Propio', N'Factura')
SET IDENTITY_INSERT [dbo].[GastosEncabezado] OFF
GO
SET IDENTITY_INSERT [dbo].[Presupuestos] ON 

INSERT [dbo].[Presupuestos] ([Id], [UsuarioId], [TipoGastoId], [Mes], [Anio], [Monto]) VALUES (1, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', 1, 5, 2025, CAST(400.00 AS Decimal(18, 2)))
INSERT [dbo].[Presupuestos] ([Id], [UsuarioId], [TipoGastoId], [Mes], [Anio], [Monto]) VALUES (2, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', 2, 5, 2025, CAST(333.00 AS Decimal(18, 2)))
INSERT [dbo].[Presupuestos] ([Id], [UsuarioId], [TipoGastoId], [Mes], [Anio], [Monto]) VALUES (4, N'64ea4f9f-cf7a-42c5-be3d-511f285dfe0a', 4, 7, 2025, CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Presupuestos] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposGasto] ON 

INSERT [dbo].[TiposGasto] ([ID], [Codigo], [Descripcion]) VALUES (1, N'TG001', N'Despensa y Abarrotes')
INSERT [dbo].[TiposGasto] ([ID], [Codigo], [Descripcion]) VALUES (2, N'TG002', N'Servicios Vehículos Varios')
INSERT [dbo].[TiposGasto] ([ID], [Codigo], [Descripcion]) VALUES (4, N'TG003', N'Agua Potable')
SET IDENTITY_INSERT [dbo].[TiposGasto] OFF
GO
INSERT [dbo].[Usuarios] ([Id], [Identificacion], [Nombre], [Apellido], [Login], [PasswordHash], [FechaNacimiento], [Direccion], [Correo], [Telefono]) VALUES (N'00000000-0000-0000-0000-000000000000', N'987654678', N'Pablo', N'Santos', N'psantos', N'ACyCynFxTvhq9pbcvz6KuvXyfCH/3wG8nr0UUVdixJQ853eXlVsqn3Nf2xsqSgB7oA==', CAST(N'1994-02-10' AS Date), N'Guatemala', N'psantos23@gmail.com', N'32848392')
INSERT [dbo].[Usuarios] ([Id], [Identificacion], [Nombre], [Apellido], [Login], [PasswordHash], [FechaNacimiento], [Direccion], [Correo], [Telefono]) VALUES (N'393380fd-e4d5-41ac-999d-426019b198f4', N'30442845660114', N'Byron', N'Santos', N'bsantos', N'AC3ROqCEzXb8mESojQv3/TPho5/OnyNVva4DBW0pz8CAOLR0JBiiLatKpUhrHldKvw==', CAST(N'1997-04-29' AS Date), N'Amatitlán Guatemala', N'gerperez13@gmail.com', N'57456273')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 14/05/2025 15:05:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 14/05/2025 15:05:10 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 14/05/2025 15:05:10 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 14/05/2025 15:05:10 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 14/05/2025 15:05:10 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 14/05/2025 15:05:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__5E55825BCD739DF2]    Script Date: 14/05/2025 15:05:10 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Depositos]  WITH CHECK ADD FOREIGN KEY([FondoMonetarioId])
REFERENCES [dbo].[FondosMonetarios] ([Id])
GO
ALTER TABLE [dbo].[GastosDetalle]  WITH CHECK ADD FOREIGN KEY([GastoEncabezadoId])
REFERENCES [dbo].[GastosEncabezado] ([Id])
GO
ALTER TABLE [dbo].[GastosDetalle]  WITH CHECK ADD FOREIGN KEY([TipoGastoId])
REFERENCES [dbo].[TiposGasto] ([ID])
GO
ALTER TABLE [dbo].[GastosEncabezado]  WITH CHECK ADD FOREIGN KEY([FondoMonetarioId])
REFERENCES [dbo].[FondosMonetarios] ([Id])
GO
ALTER TABLE [dbo].[Presupuestos]  WITH CHECK ADD FOREIGN KEY([TipoGastoId])
REFERENCES [dbo].[TiposGasto] ([ID])
GO
USE [master]
GO
